@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');
.font-1{
  font-family: 'Montserrat', sans-serif;
}
.font-2{
font-family: 'Nunito Sans', sans-serif;

}
body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #84d6fd;
  outline: 1px solid #84d6fd;
}

.font-3{
  font-family: 'Poppins', sans-serif;
}
.color-1{
  color:#bf5700;
}
.color-2{
  color: #58355e;
}
.color-3{
  color:  #e5dada;
}
.bg-color-1{
  background-color:#bf5700;
}
.bg-color-2{
  background-color: #58355e;
}
.bg-color-3{
  background-color: #e5dada;
}
.bg-d{
  background-image: conic-gradient(from -90deg at 110% 100%,#fff 0deg,#ebecf0 90deg,#ebecf0 1turn);
}